# Kafka (broker externo del generador del bootcamp)
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=probando

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=example
MONGO_DB=hr_pro
MONGO_AUTH_SOURCE=admin

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=hr_pro
POSTGRES_USER=hr_user
POSTGRES_PASSWORD=hr_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_SECONDS=1800
